@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #fff;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #ffffe6;
}

#column-2 {
  background: #ffffcc;
}

#column-3 {
  background: #ffffb3;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #ffff99;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #fff;
  }

  .col-3 {
    width: 50%;
  }

  #column-1 {
    background-color: #e6ffe6;

  }

  #column-2 {
    background-color:#ccffcc; 
  }

  #column-3 {
    background-color: #b3ffb3;
    width: 100%;
  }

  footer {
    background-color: #99ff99;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #fff;
  }

  .col-3 {
    width: 33.33%;
  }


  #column-1 {
    background-color:#e6ffff ;
  }

  #column-2 {
    background-color:  #ccffff;
  }

  #column-3 {
    background-color: #b3ffff;
    width: 33.33%;
  }

  footer {
    background-color: #99ffff;
  }
   
}
